
/** Menu Drop Down **/


div.MenuOptionList {
    position: relative;
    background-color: #bdc3c7;
    /* display: inline-block; */
    z-index: 3;
    border: 1px solid grey;
    margin: -1px;
    text-align: left;
    transition: opacity 0.2s;
}


div.MenuOptionList.floating {
    position: fixed;
    /*left: 100%;*/
    /*top: 0;*/
    white-space: nowrap;
}

div.MenuOptionList > div > div.menu-item {
    padding: 4px;
    /*border: 1px outset #AAA;*/
}
div.MenuOptionList > div.selected {
    background-color: #AAA;

}

div.MenuOptionList > div > div.menu-item:hover {
    z-index: 5;
}


div.MenuOptionList.stick {
    border: 2px solid black;
    /*background-color: #9ba0a3;*/
}
div.MenuOptionList:hover {
    z-index: 4;
}

div.MenuOptionList.vertical {
    left: 0;
    top: 100%;
}



/** Screen Overflow **/

div.MenuOptionList.overflow-right {
    left: inherit !important;
    right: 0 !important;
}
div.MenuOptionList.overflow-bottom {
    top: inherit !important;
    bottom: 0 !important;
    /*bottom: -50vh;*/
    /*bottom: 100%;*/
}
