form.theme-default {
    display: flex;
    flex-direction: column;
}

form.theme-default > fieldset {
    margin-bottom: 1em;
    display: flex;
    /*align-items: center;*/
    flex-wrap: wrap;
    font-size: larger;

}
form.theme-default > fieldset:hover > legend {
    font-weight: bold;
}

form.theme-default > fieldset > label {
    /*min-width: 12vw;*/
    /*text-align: right;*/
    padding-right: 1em;
    flex-basis: 100px;
}

form.theme-default > fieldset > label:after {
    content: ':'
}


@media only screen and (min-width: 600px) {
    form.theme-default > fieldset > label {
        text-align: right;
        /*flex-basis: 100%;*/
    }
}


form.theme-default button,
form.theme-default input,
form.theme-default select,
form.theme-default textarea {
    flex-grow: 1;
    padding: 0.5em;
    border: 2px inset #FFF;
    border-radius: 0.5em;
    font-size: larger;
    transition: box-shadow 1s, border-color 1s;
}

form.theme-default button {
    border: 2px outset #FFF;
    font-size: larger;
    cursor: pointer;
}

form.theme-default input[type=text] {
}

form.theme-default input[type=radio],
form.theme-default input[type=checkbox] {
    max-width: 40px;
    width: 40px;
    height: 40px;
    /*transform: scale(2);*/
}

/** Message and Error **/

form.theme-default > div.message,
form.theme-default > div.error {
    background-color: #bbb;
    border: 1px inset #FFF;
    border-radius: 0.5em;
    font-weight: bold;
    transition: transform 0.8s, max-height 0.8s, padding 0.8s;
    transform: scale(1, 0);
    max-height: 0;
    padding: 0 1em;
}
form.theme-default > div.error {
    background-color: #bb9a9a;
    color: #600;
}

form.theme-default > div.message:not(:empty),
form.theme-default > div.error:not(:empty) {
    transform: scale(1);
    max-height: 100px;
    padding: 1em;
}

/** Validation Text **/

form.theme-default .validation-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
form.theme-default .validation-container > .validation-text{
    color: #F00;
    font-style: italic;
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s, opacity 1s, margin 1s;
}
form.theme-default .validation-container.invalid > .validation-text{
    max-height: 999px;
    margin-top: 0.5em;
}

form.theme-default .validation-container.invalid > input,
form.theme-default .validation-container.invalid > select,
form.theme-default .validation-container.invalid > textarea {
    border-color: #F00;
    box-shadow: #F00 0 0 12px;
}
