form.theme-default {
    display: flex;
    flex-direction: column;
}

form.theme-default > fieldset {
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
}

form.theme-default > fieldset:hover > legend {
    font-weight: bold;
}

form.theme-default > fieldset > label {
    min-width: 12vw;
    text-align: right;
    padding-right: 1vw;
    font-size: x-large;
}

form.theme-default > fieldset > label:after {
    content: ':'
}

form.theme-default > fieldset > legend {
    font-size: larger;
}

form.theme-default > fieldset > button,
form.theme-default > fieldset > input,
form.theme-default > fieldset > textarea {
    flex-grow: 1;
    font-size: x-large;
    padding: 0.5em;
    border: 1px inset #FFF;
    border-radius: 0.5em;
}

form.theme-default > fieldset > input[type=submit],
form.theme-default > fieldset > input[type=button],
form.theme-default > fieldset > button {
    border: 2px outset #FFF;
}

form.theme-default > fieldset > input[type=text] {
}

form.theme-default > fieldset > input[type=checkbox] {
    max-width: 40px;
    transform: scale(3);
}

