
.ContextMenuContainer menu {
    margin: 0 0;
    padding: 0 0;
    background-color: #AAA;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 3;
    justify-content: space-evenly;
    font-family: "Helvetica", Sans-serif, serif;
}

@media only screen and (max-width: 800px) {
    .ContextMenuContainer menu {
        font-size: 2vw;
    }
}


.ContextMenuContainer menu > li {
    font-weight: bold;
    list-style: none;
    border-radius: 14px;
    text-align: center;
    transition: background-color 1s, letter-spacing 1s, font-weight 1s;
}
.ContextMenuContainer menu > li:hover {
    color: white;
    background-color: #6a737d;
    text-shadow: #FFA 0 0 10px;
    letter-spacing: .2rem;
}
.ContextMenuContainer menu > li:hover > a {
    color: white;
}


.ContextMenuContainer menu > li > a {
    display: inline-block;
    padding: .5em 2vw;
    text-decoration: none;
}

.ContextMenuContainer menu > li > ul,
.ContextMenuContainer menu > li > menu {
    display: none;
}

