
/** Menu Item **/

div.menu-item {
    display: flex;
    /*color: #777;*/
    transition: background-color 0.3s;

    padding: 0 0;
    margin: 0 0;

    /*cursor: default;*/
}


div.menu-item.disabled {
    color: #777;
}
