
/** Paragraph **/

.markdown-body p {
    text-indent: 4px;
    /*font-family: "Open Sans", SansSerif, serif;*/
    text-align: justify;
}


/** Blockquote & Code **/

.markdown-body blockquote,
.markdown-body code {
    display: block;
    border-radius: 4px;
    background: #CCC;
    padding: 0.5em 10px;
    margin: 0 0;
    white-space: break-spaces;
}



/** Blockquote **/

.markdown-body blockquote {
    border-left: 10px solid #AAA;
    quotes: "\201C""\201D""\2018""\2019";
    font-style: italic;
}
.markdown-body blockquote:before {
    color: #AAA;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin: 0 0.20em 0 -0.15em;
    vertical-align: -0.4em;
}
.markdown-body blockquote p {
    display: inline;
}



/** Button Links **/

.markdown-body a.button {
    display: block;
    padding: 1em 2em;
    margin: 0.5em;
    background-color: #61dafb;
    border-radius: 1em;
    text-decoration: none;
    transition: background-color 1s, letter-spacing 1s, color 1s;
    font-size: 1.5em;
    font-weight: bold;
}

.markdown-body a.button:hover {
    color: white;
    background-color: #6a737d;
    text-shadow: #FFA 0 0 10px;
    letter-spacing: .2rem;
}





