body {
  margin: 0;
  font-family: "Open Sans", SansSerif, serif;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
  /*'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




/** Menu Container **/
.App {
  position: relative;
  background-color: #EEE;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1600px;
}

.App > article {
  padding: 0 1em;
}

.App > header,
.App > footer {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.App > header > a > img,
.App > footer > a > img {
  display: block;
  width: 100%;
}


/** Menu Container **/

.App menu {
  margin: 0 0;
  padding: 0 0;
  background-color: #AAA;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 3;
  justify-content: space-evenly;
  font-family: "Helvetica", Sans-serif, serif;
  font-size: 1.5em;
}

@media only screen and (max-width: 800px) {
  .App menu {
  }
}


.App menu > li {
  font-weight: bold;
  list-style: none;
  border-radius: 14px;
  text-align: center;
  transition: background-color 1s, letter-spacing 1s, font-weight 1s;
}
.App menu > li:hover {
  color: white;
  background-color: #6a737d;
  text-shadow: #FFA 0 0 10px;
  letter-spacing: .2rem;
}


.App menu > li > a {
  display: inline-block;
  padding: .5em 2vw;
  text-decoration: none;
}
.App menu > li:hover > a {
  color: white;
}

.App menu > li > ul,
.App menu > li > menu {
  display: none;
}



/** Button Links **/

.App form button,
.App a.button {
  display: block;
  padding: 0.5em 2em;
  margin: 0.5em 0;
  background-color: #61dafb;
  border-radius: 1em;
  text-decoration: none;
  transition: background-color 1s, letter-spacing 1s, color 1s, box-shadow 1s;
  font-size: 1.5em;
  font-weight: bold;
  animation: buttonFadeIn 1s ease-in-out forwards;
}

.App form button:hover,
.App a.button:hover {
  color: white;
  background-color: #6a737d;
  text-shadow: #FFA 0 0 10px;
  letter-spacing: .2rem;
  box-shadow: #000 0 0 12px;
}


@keyframes buttonFadeIn {
  0% {
    transform: scale(1, 0.7);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1, 0.9);
  }
  100% {
    transform: scale(1);
  }
}

